<div class="container-fluid">
    <br><br>
    <p><b>Cadastrar Restaurante:</b></p>
    <br><br>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="container" id="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">Restaurante</label>
        <input type="text" class="form-control" id="validationCustom01" name="nome" ngModel required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Rua</label>
        <input type="text" class="form-control" id="validationCustom03" name="rua" ngModel required>
        <div class="invalid-feedback">
          Campo Inválido.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">Bairro</label>
        <input type="text" class="form-control" id="validationCustom04" name="bairro" ngModel required>
        <div class="invalid-feedback">
            Campo Inválido.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Número</label>
        <input type="number" class="form-control" id="validationCustom05" name="numero" ngModel required>
        <div class="invalid-feedback">
            Campo Inválido.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Salvar</button>
  </form>
</div>